node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.svelte-kit/

package-lock.json

.npmrc

new-output.txt
old-output.txt
temp-pf-output.txt

.vscode/settings.json

_backup/


.venv/
.vscode/

data.yaml
supabase-loader.py

supabase/migrations/2024-12-29_init.sql

old/
**/.claude/settings.local.json
